/* CSSのコード */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
  font-family: system-ui;
}

body,
html {
  background-color: black;
}

.CircularProgressbar .CircularProgressbar-text {
  dominant-baseline: central;
  font-size: 25px;
  font-weight: 600;
}

.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  transition: opacity 0.5s ease;
  position: relative;

}

.modal-backdrop {
  display: none;
}

.modal-content {
  background: #212529;
  position: absolute;
}

.modal {
  height: 148px;
  width: 360px;
  position: absolute;
  top: -100px;
  left: -110px;
}

h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.timer {
  width: 200px;
  height: 200px;
  position: relative;
  transition: opacity 0.3s ease;
}

.phase {
  margin: 0 5px;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s ease;
  /* position: absolute; */
  bottom: 10%;
  left: 50%;
  /* transform: translateX(-50%); */
  /* font-size: 1.5rem; */
  font-weight: bold;
  font-size: 17px;
}

.CircularProgressbar-trail {
  opacity: 1.0;
}

.buttons {
  display: flex;
  margin-top: 5px;
  align-items: center;
  justify-content: center;
}

.buttons-settings {
  display: flex;
  margin-top: 5px;
  align-items: center;
  justify-content: center;
}

.bi-brightness-low {
  margin: 0 2px 0 0px;
}

label {
  margin: unset;
}

.bi-volume-down,
.bi-volume-mute {
  margin-bottom: 4px;

}

.close:focus,
.close:hover {
  color: white;
  opacity: 0.7;
}

button {
  width: 40px;
  height: auto;
  border: none;
  border-radius: 50%;
  background-color: unset;
  color: white;
  font-size: 2rem;
  /* border: 1px solid; */
  cursor: pointer;
  opacity: 0.9;
  transition: opacity 0.3s ease;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close {
  color: white;
  opacity: 1;
}

button:focus {
  outline: none;
}

button:hover {
  opacity: 0.7;
}


.sessions {
  margin-top: 2rem;
  font-size: 1.2rem;
}

.phase-selector {
  display: flex;
  justify-content: center;
  /* margin-top: 20px; */
  /* opacity: 0.9; */
  position: relative;
}

#brightness-slider {
  width: 20%;
  margin-bottom: 4px;
  background: white;
}


.phase:hover {
  opacity: 0.6;
}

.phase.active {
  opacity: 0.9;
}

.CircularProgressbar-text {
  transition: opacity 0.3s ease;
}

/* .CircularProgressbar:active,
.CircularProgressbar:hover {
  .CircularProgressbar-text {
    opacity: 0.6;
  }
} */

.bi-arrow-clockwise {
  padding-top: 5px;
}

.CircularProgressbar .CircularProgressbar-path {
  stroke-linecap: butt
}

.CircularProgressbar-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.phase.disabled {
  pointer-events: none;
  cursor: default;
}
